<div class="row container">
  <div class="col s12">
    <div class="card">
      <div class="card-image">
        <img src="/assets/portfolio-header.jfif">
      <span class="card-title">About me: {{ aboutMe?.name }}</span>
      </div>
      <div class="card-content">
        <div style="text-align: center">
          <img style="border-radius: 50%" [src]="aboutMe?.imagePath">
        </div>
        <div class="typewriter">
          <p>Hi my name is {{ aboutMe?.name }}</p>
        </div>
        <form #aboutMeForm="ngForm" (ngSubmit)="submit(aboutMeForm)">
          <input type="text" name="name" [ngModel]="aboutMe?.name" required>
          <button class="btn" type="submit" [disabled]="aboutMeForm.invalid">save</button>
        </form>
      </div>
    </div>
  </div>
</div>
